@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1220px;
  margin: 0 auto;
  background-color: white;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}
.photosBox {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.photosBox:first-child {
  grid-row: span 2;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 4;
  transition: opacity 0.4s ease-in-out;
}
.checkBox {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  z-index: 4;
  transition: opacity 0.4s ease-in-out;
}

.photosBox:hover .checkBox {
  opacity: 1;
}

.photosBox.dragging {
  transition: transform 0.2s ease;
}

.photosBox::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.photosBox:hover::after {
  height: 100%;
  animation: serviceFram 0.4s ease;
}
@keyframes serviceFram {
  0% {
    height: 0;
  }
  100% {
    color: white;
    height: 100%;
  }
}

.photosBox::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  z-index: 1;
  background: white;
  border-radius: 0px 0px 0px 100%;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.photosBox:hover::before {
  width: 150px;
  height: 100px;
  animation: serviceFramTwo 0.4s ease;
}

@keyframes serviceFramTwo {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 150px;
    height: 100px;
  }
}

/* progress Bar  */

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: transparent;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar-inner {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
  text-align: center;
  line-height: 20px;
  color: white;
  font-weight: bold;
  position: relative;
}

.progress-label {
  font-size: 14px;
  z-index: 2;
}

.progress-bar-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #7bff29, #0000);
  z-index: 1;
  opacity: 0.7;
}

/* Responsive */

@media (max-width: 1024px) {
  .grid-1 {
    grid-template-columns: repeat(3, 1fr);
  }
  .photosBox:first-child {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .grid-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .photosBox:first-child {
    width: 100%;
    grid-column: span 2;
  }
}
